
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
        <script  type="text/javascript">
            angular.module('adminUpdate', [])
                    .controller('adminUpdateContrl', ['$scope', '$http', function ($scope, $http) {
                            var model = this;

                            var resultCategore = '<%-result.categore %>';
                            $('[name=options]').val(resultCategore);
                            var availability = $("input[name=availability]:checked").val();
                            $("input[name=availability][value=<%-result.availability %>]").prop("checked", true);
                            model.updateproduct = function () {
                                var productName = $('#productName').val().trim();
                                var categore = $('#categore').val().trim();
                                var fileName = $('input[type=url]').val();
                                var price = $('#price').val();
                                var details = $('#details').val();
                                var rating = $('#rating').val();
                                var availability = $("input[name=availability]:checked").val();
                                console.log("productName--" + productName + "--categore--" + categore + "--fileName--" + fileName + "=-price--" + price + "--details--" + details + "--rating--" + rating + "--availability--" + availability);
                                if (productName == 'undefined' || categore == 'undefined' || fileName.length < "1"
                                        || price == "undefined" || details == 'undefined' || rating == 'undefined' || availability == 'undefined') {
                                    alert("Please Re-check Your details and all fields are Mandatery!!!, If it's already filled you supose to give same value again!");
                                } else {
                                    var productDetails = {
                                        productName: productName,
                                        categore: categore,
                                        fileName: fileName,
                                        price: price,
                                        details: details,
                                        rating: rating,
                                        availability: availability
                                    };
                                    model.resPD = $http.post('/productUpdate/<%-result._id%>', productDetails);
                                    console.log(productDetails)
                                    model.resPD.success(function (data, status, headers, config) {
                                        alert("success");
                                        document.location.href = '/productViewUpdate'
                                    });
                                    model.resPD.error(function (data, status, headers, config) {
                                        alert("Some thing went wrong Please try after SomeTime!.");
                                    });
                                }
                            };
                        }]);
        </script>
        <style type="text/css">
            body {
                position: relative; 
            }
            .padding-left20{padding-left: 20px;}
            .padding-left50{padding-left: 50px;}
            .padding-left100{padding-left: 100px;}
            .margin-left25{margin-left: 25%;}
            .padding-top20{padding-top: 20px;}
            .padding-bottom20{padding-bottom: 20px;}
            footer a{color:#f5f5f5;}
            .footer{background: #343a40 !important; padding: 30px;}
            .form-control{width: 80% !important;}
        </style> 
    </head>
    <body data-spy="scroll" data-target=".navbar" data-offset="50" ng-clock ng-app="adminUpdate">
        <div  ng-controller="adminUpdateContrl as admnupctl">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">  
                <ul class="navbar-nav">
                    <li class="nav-item padding-left20">
                        <a class="nav-link btn btn btn-outline-warning" href="/">HOME</a>
                    </li>
                    <li class="nav-item padding-left20">
                        <a class="nav-link btn btn btn-outline-success" href="/admin" >Add Product</a>
                    </li>
                    <li class="nav-item padding-left20"> 
                        <a class="nav-link btn btn btn-outline-info" href="/productViewUpdate">View & Update & Remove Products</a>
                    </li>
                    <li class="nav-item padding-left20" ><a class="nav-link btn btn-outline-danger"  href="/logout">LOGOUT</a></li>

                </ul>
            </nav>
            <div id="createSection" class="container-fluid bg-light" style="padding-top:90px;padding-bottom:10px;">
                <h1 class="text-center">Update Product</h1>
                <p class="text-center text-warning">Hey , Give proper values Man , Don't come here again :) <br/>
                </p>
            </div>
            <div class="clearfix"></div>
            <div id="updateSection" class="container-fluid bg-light text-center" >
                <form  method="post" id="addProduct" name="updateProduct" >
                    <select id="categore" name="options" class="form-control" required >
                        <option>Mobiles</option>
                        <option>Electronics</option>
                        <option>Furniture</option>
                        <option>Clothes</option>
                        <option>Others</option>
                    </select> <br/><br/>
                    <!----{{admnupctl.productDetails}}-->
                    <input class="form-control" type="url" id="fileName" placeholder="Give Image URL here" name="fileName"  value='<%= result.fileName %>' required  /> 
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>Name:</td>
                                <td> <input class="form-control" type="text" placeholder="Give Product Name" name="productName" min="4" max="12" minlength="4" maxlength="12" id="productName" value="<%= result.productName %>"  required /> </td>
                            </tr>
                            <tr>
                                <td>Price:</td>
                                <td><input class="form-control" type="number" placeholder="Give Product Price" value="<%= result.price %>"  name="price" minlength="10" min="10" id="price" required  /> </td>
                            </tr>
                            <tr>
                                <td>Details:</td>
                                <td><textarea class="form-control" rows="5" id="details" required ><%= result.details %></textarea> </td>
                            </tr>
                            <tr>
                                <td>Rating:</td>
                                <td><input type="tel" id='rating'  name="rating" min="1" max="5" minlength="1" value="<%= result.rating %>" maxlength="5" required  /> </td>
                            </tr>
                            <tr>
                                <td>Availability:</td>
                                <td> <label class="radio-inline form-control"><input type="radio" id="availability" value="YES" name="availability">YES</label>
                                    <label class="radio-inline form-control"><input type="radio" id="availability" value="NO" name="availability">NO</label> </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-success "  ng-click="admnupctl.updateproduct($event);">Update Product</button> <br/>
                    <br/><br/>
                </form>

            </div>

            <div class="clearfix"></div>
        </div>
        <footer class="text-center footer">
            <p><a href='mailto:chandrashekar.mungi@gmail.com'>Chandrashekar.mungi@gmail.com</a></p>
        </footer>
    </body>
</html>
